* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    color: #fff;
    font-family: "NexonLv1Gothic";
    font-weight: 300;
    background-color: #333;
}

#parallax__content {
    overflow: hidden;
}

.hide {
    display: none;
}


/* 각 세션 배경색 */
 #section1, #section3, #section5, #section7, #section9, #section11, #section13, #section15, #section17 {
    background-color: #111;
}

/* parallax__item1 */
.parallax__item1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parallax__item1 .pi__text {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2vh;
}

/* parallax__item2 */
.parallax__item2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parallax__item2 .t2{
    margin-bottom: 3vh;
}

.parallax__item2 .pi__text {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
}
.parallax__item2 .pi__desc__name{
    font-size: 2vw;
}

.parallax__item2 .pi__img {
    background: url("./img/img01.jpg") no-repeat;
    background-position: center 15%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 5vh;
}


/* parallax__item3 */
.parallax__item3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parallax__item3 .pi__text {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}


/* parallax__item4 */
.parallax__item4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax__item4 .sec4__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 1vw;
    background: url(./img/img04_1.jpg) no-repeat center / cover;
}


.parallax__item4 .sec4__img:nth-child(2){
    background: url(./img/img04_2.jpg) no-repeat center / cover;
}
.parallax__item4 .sec4__img:nth-child(3){
    background: url(./img/img04_3.jpg) no-repeat center / cover;
}
.parallax__item4 .sec4__img:nth-child(4){
    background: url(./img/img04_4.jpg) no-repeat center / cover;
}
.parallax__item4 .sec4__img:nth-child(5){
    background: url(./img/img04_5.jpg) no-repeat center / cover;
}
.parallax__item4 .sec4__img:nth-child(6){
    background: url(./img/img04_6.jpg) no-repeat center / cover;
}



/* parallax__item5 */
.parallax__item5 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax__item5 .pi__text {
    font-size: 8vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    padding: 30px;
    width: 100%;
    text-align: center;
}

/* parallax__item6 */
.parallax__item6 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #111;
}

.parallax__item6 .pi__imgWrap {
    width: 960px;
    height: 540px;
}

.parallax__item6 .pi__imgWrap .pi__img {
    position: absolute;
    top: 15vh;
    right: 5vw;
    width: 50%;
    height: 50%;
    background: url("./img/img06_1.jpg") no-repeat center / cover;
}

.parallax__item6 .pi__desc {
    position: absolute;
    bottom: 20vh;
    right: 30vw;
    font-size: 4vw;
    line-height: 1.4;
}

.parallax__item6 .pi__imgWrap .pi__img__left {
    position: absolute;
    top: 15vh;
    left: 5vw;
    width: 50%;
    height: 50%;
    background: url("./img/img06_2.jpg") no-repeat center / cover;
}

.parallax__item6 .pi__desc__left {
    position: absolute;
    bottom: 15vh;
    left: 30vw;
    font-size: 4vw;
    line-height: 1.4;
}


/* parallax__item7 */
.parallax__item7 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #111;
}

.parallax__item7 .pi__imgWrap {
    width: 960px;
    height: 540px;
}

.parallax__item7 .pi__imgWrap .pi__img {
    position: absolute;
    top: 20vh;
    right: 5vw;
    width: 50%;
    height: 50%;
    background: url("./img/img07_1.jpg") no-repeat center / cover;
}

.parallax__item7 .pi__desc {
    position: absolute;
    bottom: 15vh;
    right: 20vw;
    font-size: 4vw;
    line-height: 1.4;

}
.parallax__item7 .pi__imgWrap .pi__img__left {
    position: absolute;
    top: 25vh;
    left: 5vw;
    width: 50%;
    height: 50%;
}


.parallax__item7 .pi__desc__left {
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    font-size: 4vw;
    line-height: 1.4;
}

.parallax__item7 .pi__imgWrap .reveal{
    filter: saturate(0%);
    transition: all 0.2s;
}

.parallax__item7 .pi__imgWrap .reveal:hover{
    filter: saturate(100%);
    transform: scale(1.025);
}

.parallax__item7 .pi__imgWrap .sec7__img01 {
    background: url("./img/img07_1.jpg") no-repeat center / cover;
}
.parallax__item7 .pi__imgWrap .sec7__img02 {
    background: url("./img/img07_2.jpg") no-repeat center / cover;
}
.parallax__item7 .pi__imgWrap .sec7__img03 {
    background: url("./img/img07_3.jpg") no-repeat center / cover;
}
.parallax__item7 .pi__imgWrap .sec7__img04 {
    background: url("./img/img07_4.jpg") no-repeat center / cover;
}


/* parallax__item8 */
.parallax__item8 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #111;
}

.parallax__item8 .pi__desc{
    font-size: 4vw;
    margin-top: 20vh;
    text-align: center;
}

.parallax__item8 .pi__desc__name{
    font-size: 2vw;
}

.parallax__item8 .pi__imgWrap {
    width: 300px;
    height: 300px;
    margin-top: 10vh;
}

.parallax__item8 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("./img/img08.jpg") no-repeat center / cover;
    margin-bottom: 10vh;
}


/* 가로 스크롤*/
/* parallax__item9 */
#horizontal {
    display: flex;
    flex-wrap: nowrap;
    width: 600%;
}
#horizontal > section {
    width: 100%;
}

.parallax__item9 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.parallax__item9 .pi__desc{
    font-size: 4vw;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-right: 20vw;
}
.parallax__item9 .pi__desc__name{
    font-size: 2vw;
}

.parallax__item9 .pi__imgWrap {
    width: 300px;
    height: 300px;
}

.parallax__item9 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("./img/img09.jpg") no-repeat center / cover;
}

/* parallax__item10 */
.parallax__item10 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.parallax__item10 .pi__desc{
    font-size: 4vw;
    text-align: center;
}
.parallax__item10 .pi__desc__name{
    font-size: 2vw;
}

.parallax__item10 .pi__imgWrap {
    width: 300px;
    height: 300px;
    margin-top: 10vh;
}

.parallax__item10 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("./img/img10.jpg") no-repeat center / cover;
}

/* parallax__item11 */
.parallax__item11 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.parallax__item11 .pi__desc{
    font-size: 4vw;
    text-align: center;
}
.parallax__item11 .pi__desc__name{
    font-size: 2vw;
}


.parallax__item11 .pi__imgWrap {
    width: 300px;
    height: 300px;
    margin-top: 10vh;
}

.parallax__item11 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("./img/img11.jpg") no-repeat center / cover;
}


/* parallax__item12 */
.parallax__item12 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.parallax__item12 .pi__imgWrap {
    width: 30vw;
    height: 100%;
    
}

.parallax__item12 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    background: url("./img/img12.jpg") no-repeat center / cover;
}

.parallax__item12 .pi__desc{
    font-size: 4vw;
    margin-left: 15vw;
    text-align: center;
}
.parallax__item12 .pi__desc__name{
    font-size: 2vw;
}


/* parallax__item13 */
.parallax__item13 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.parallax__item13 .pi__desc{
    font-size: 4vw;
}

.parallax__item13 .pi__imgWrap {
    width: 300px;
    height: 300px;
    margin-top: 10vh;
}

.parallax__item13 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("./img/images01.jpg") no-repeat center / cover;
}
/* 가로므드 끝 */


/* parallax__item14 */
.parallax__item14 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.parallax__item14 .pi__imgWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.parallax__item14 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    background: url("./img/img14.jpg") no-repeat center / cover;
}
.parallax__item14 .pi__imgWrap .pi__img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

.parallax__item14 .pi__desc{
    font-size: 4vw;
    text-align: center;
    z-index: 1;
}
.parallax__item14 .pi__desc__name{
    font-size: 2vw;
}



/* parallax__item15 */
.parallax__item15 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.parallax__item15 .pi__imgWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.parallax__item15 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    background: url("./img/img15_1.jpg") no-repeat top / cover;
}
.parallax__item15 .pi__imgWrap .pi__img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

.parallax__item15 .pi__desc{
    font-size: 4vw;
    text-align: center;
    z-index: 1;
}
.parallax__item15 .pi__desc__name{
    font-size: 2vw;
}

/* parallax__item16 */

.parallax__item16 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.parallax__item16 .pi__imgWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.parallax__item16 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    background: url("./img/img16.jpg") no-repeat center / cover;
}
.parallax__item16 .pi__imgWrap .pi__img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}

.parallax__item16 .pi__desc{
    font-size: 4vw;
    text-align: center;
    z-index: 1;
}
.parallax__item16 .pi__desc__name{
    font-size: 2vw;
}

/* parallax__item17 */
.parallax__item17 {
    width: 100%;
    height: 100vh;
}


/* parallax__item18 */
.parallax__item18 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    
}
.parallax__item18 p{
    font-size: 4vw;
    font-weight: 700;
    z-index: 1;
}