* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    color: #fff;
    font-family: "NexonLv1Gothic";
    font-weight: 300;
    background-color: #333;
}

#parallax__content {
    overflow: hidden;
}

.hide {
    display: none;
}


/* 각 세션 배경색 */
 #section1, #section3, #section5, #section7, #section9  {
    background-color: #111;
}

/* parallax__item1 */
.parallax__item1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parallax__item1 .pi__text {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
}

/* parallax__item2 */
.parallax__item2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parallax__item2 .pi__text {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
}
.parallax__item2 .pi__img {
    background: url("/img/images01.jpg") no-repeat center / cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10vh;
}


/* parallax__item3 */
.parallax__item3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parallax__item3 .pi__text {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
}


/* parallax__item4 */
.parallax__item4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax__item4 .sec4__img{
    background: url("/img/images01.jpg") no-repeat center / cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 1vw;
}


/* parallax__item5 */
.parallax__item5 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax__item5 .pi__text {
    font-size: 5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    padding: 30px;
    width: 100%;
    text-align: center;
}

/* parallax__item6 */
.parallax__item6 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #111;
}

.parallax__item6 .pi__imgWrap {
    width: 960px;
    height: 540px;
}

.parallax__item6 .pi__imgWrap .pi__img {
    position: absolute;
    top: 20vh;
    right: 5vw;
    width: 50%;
    height: 50%;
    background: url("/img/images01.jpg") no-repeat center / cover;
}

.parallax__item6 .pi__desc {
    position: absolute;
    bottom: 15vh;
    right: 20vw;
    font-size: 4vw;
    line-height: 1.4;
}

.parallax__item6 .pi__imgWrap .pi__img__left {
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 50%;
    height: 50%;
    background: url("/img/images01.jpg") no-repeat center / cover;
}

.parallax__item6 .pi__desc__left {
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    font-size: 4vw;
    line-height: 1.4;
}


/* parallax__item7 */
.parallax__item7 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #111;
}

.parallax__item7 .pi__imgWrap {
    width: 960px;
    height: 540px;
}

.parallax__item7 .pi__imgWrap .pi__img {
    position: absolute;
    top: 20vh;
    right: 5vw;
    width: 50%;
    height: 50%;
    background: url("/img/images01.jpg") no-repeat center / cover;
}

.parallax__item7 .pi__desc {
    position: absolute;
    bottom: 15vh;
    right: 20vw;
    font-size: 4vw;
    line-height: 1.4;

}
.parallax__item7 .pi__imgWrap .pi__img__left {
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 50%;
    height: 50%;
    background: url("/img/images01.jpg") no-repeat center / cover;
}

.parallax__item7 .pi__desc__left {
    position: absolute;
    bottom: 15vh;
    left: 20vw;
    font-size: 4vw;
    line-height: 1.4;
}


/* parallax__item8 */
.parallax__item8 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
    position: relative;
    flex-direction: column;
    background-color: #111;
}

.parallax__item8 .pi__desc{
    font-size: 4vw;
    margin-top: 20vh;
}

.parallax__item8 .pi__imgWrap {
    width: 300px;
    height: 300px;
    margin-top: 20vh;
}

.parallax__item8 .pi__imgWrap .pi__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("/img/images01.jpg") no-repeat center / cover;
}


/* parallax__item8 */
.parallax__item9 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
}
